html {
  background-color:black;
}
body {
  background-color:black;
}
.headerstuff {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;  
  gap: 5px;                
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color:purple;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 5px solid palevioletred;
  border-radius: 15px;
  padding: 5px;
  width: auto;
}
.headerstuff a:link,
.headerstuff a:visited {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  background-color: plum;
  color: black;
  border: 2px solid plum;
  border-radius: 10px;
  text-decoration: none;
  padding: 8px;
  font-weight: bold;
}

.headerstuff a:hover, a:active {
  border: 2px solid pink;
  background-color: pink;
  color: white;
}
.textstuff {
    font-size: 15px;
    text-align: left;
    background-color: transparent;
    color: lavender;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    border-left: 2px solid fuchsia;
    margin-left: 10px;
}
.textstuff2 {
    font-size: 15px;
    text-align: left;
    background-color: transparent;
    color: lavender;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    border-left: 2px solid mediumpurple;
    margin-left: 10px;
}
.textstuff2 a:link, a:visited,
.textstuff a:link, a:visited {
    color:aqua;
}
.textstuff2 a:hover, a:active,
.textstuff a:hover, a:active {
    color:aquamarine;
    border: 0px;
    background-color: transparent;
}
.imagestuff {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    margin-left: 10px;
}
.largetextstuff {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    background-color: transparent;
    color: lavender;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 10px;
    border-left: 2px solid aqua;
    margin-left: 10px;
    margin-top: -15px;
    margin-bottom: -15px;
}
.linkimagestuff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    font-size: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: -2px;
}
.linkimagestuff img {
    margin-left: 5px;
    margin-right: 5px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    border: 2px solid plum;
}